<div class="container-center">
  <h1>Welcome to Binge-Box</h1>
  <h2>Describe what mood you are in and let the app suggest movies for you</h2>

  <mat-form-field>
    <input class="mood-search" matInput placeholder="Describe what mood you are in" [(ngModel)]="description">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="geminirecs()">Search</button>

<!-- Spinner appears ONLY while loading -->
<div *ngIf="loading" class="loading-box">
  <mat-spinner></mat-spinner>
  <p>Fetching recommendations…</p>
</div>

<!-- Show results once ready -->
<div *ngIf="!loading && aiResponse" class="ai-results" >
  <h3>Recommended Movies:</h3>
  <p>{{ aiResponse }}</p>

<div *ngFor="let movie of finalMovies">
  <mat-card class="poster-card">
    <img width="300px" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
    <h4>{{ movie.overview }}</h4>
    <h5>{{ movie.release_date }}</h5>
  </mat-card>
</div>

</div>



</div>
